 <h1>Project Planner</h1>

 <% if @stores.any?() %>
 <% @stores.each() do |store| %>
  <li><%= store.name %> <a href="/stores/<%=store.id() %>/edit">Update store lists</a></li>
<% end %>

<br>
<form action="/" method="post">
  <label for="name">New project:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add Store</button>
</form>
